@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


*,*:after, *:before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-form{
  text-transform: capitalize;
  font-weight: 500;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

fieldset{
  border: none;
}

.box-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  position: relative;
}
.box-data > label{
  margin-right: 2rem;
}
#nome{
  position: relative;
  width: 100%;
  margin-left: 1rem;
}
#rg{
  position: relative;
  width: 30%;
}
#cpf{
  position: relative;
  width: 30%;
}
label[for="cpf"]{
  margin-left: -1.5rem;
}
#end{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
label[for="end"]{
  margin-left: -0.2rem;
}
#genero{
  position: relative;
  width: 30%;
  height: 4vh;
  margin: 0 auto;
}
#datNasc{
  position: relative;
  width: 20%;
  /*margin: 0 -5rem 0 1rem;*/
}
label[for="datNasc"]{
  margin-right: 1rem;
}
label[for="solteiro"],label[for="casado"],label[for="viuvo"]{
  margin-right: -2.5rem;
}
input[type="radio"]{
  padding: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

